<div class="container-fluid">

  <!-- --draws weather station-- -->
  <!-- draws date to page-->
  <section class="row justify-content-between p-3">
    <div class=" col-2 bg-card text-center text-light p-3" id="date"></div>

    <div class="col-2 bg-card text-center text-light" id="draw-weather"></div>

  </section>


  <!-- draws quotes to page-->
  <section class="row justify-content-center p-3">

    <div class="col-10 text-center p-3 " id="draw-quotes"></div>

  </section>

  <section class="row justify-content-center p-3">


    <!-- draws to-do form to page-->

    <div class="col-10 d-flex p-3 text-light bg-card">

      <form onsubmit="app.ToDosController.createToDo()" class="" id="createToDo">
        <h3 class="">List your ToDos</h3>
        <div class="d-flex justify-content-between">

          <label></label>
          <input required class="form-control" type="text" maxlength="500" name="ToDo">


          <button class="btn btn-dark text-light">💾</button>

        </div>

      </form>
      <!--check box-->
      <div class=" col-6 d-flex justify-content-between" id="updateToDo">
        List Item
        <input class="form-check-input" type="checkbox" name="checked">
        <label class="form-check-label" for="checkbox"></label>
        </form>
        <!--active list of todos-->
        <div>

          <form onsubmit="" class="p-3" id="draw-list">
            <!-- List Todo here
            <input class="form-check-input" type="checkbox" name="checked">
            <label class="form-check-label" for="checkbox"></label>
          </form> -->

        </div>


      </div>
  </section>




</div>
</div>

</div>







</div>